body {
    padding: 3em;
}
b {
    display: inline-block;
    width:3em;
    text-align: right;
}
b:after {
    content: ":";
}
i {
    color: gray;
}

p.ri {
    color: hotpink;
}
p.ono {
   color: darkgreen;
}
p.mori {
    color: cornflowerblue;
}